$primary-light: rgb(230, 20, 20);
$secondary-light: rgb(119, 119, 119);
$background-light: rgb(255, 255, 255);

$primary-light: rgb(253, 176, 176);
$secondary-light: rgb(114, 0, 0);
$background-dark: rgb(44, 44, 44);